{% extends 'base.html.twig' %}

{% block title %}{{ app_name }}{% endblock %}
{% block body %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            {% if(cart|length) %}
                <table class="table table-hover  text-center">
                    <h4 class="text-dark">Mon panier</h4>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Quantité</th>
                        <th scope="col"></th>
                        <th scope="col">Prix</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- TODO loop on cart to display product's cart -->
                    {% set i = 0 %}
                    {% set totalPrice = 0 %}
                    {% for productCart in cart %}
                        <tr>
                            {% set i = i + 1 %}
                            <th scope="row">{{ i }}</th>
                            <td>{{ productCart.product.produit.nom }}</td>
                            <td>
                                {{ productCart.quantity }}
                            </td>
                            <td>
                                <a href="{{ path('addProductCart', {'store_id': productCart.product.store.id,'product_id': productCart.product.id  }) }}" class="d-block">
                                    <i class="fa fa-plus text-success"></i>
                                </a>
                                <a href="{{ path('deleteProductCart', {'product_id': productCart.product.id  }) }}">
                                    <i class="fa fa-minus text-danger"></i>
                                </a>
                            </td>
                            {% set totalPrice = productCart.total_price + totalPrice %}
                            <td>{{ productCart.total_price }} €</td>
                            <td>
                                <a href="{{ path('deleteAllProductCart', {'product_id': productCart.product.id  }) }}" type="submit" class="btn alert-primary">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th></th>
                        <td></td>
                        <td class="font-weight-bold">Total:</td>
                        <td></td>
                        <td><span class="font-weight-bold ">{{ totalPrice }} €</span></td>
                        <td>
                            <a type="button" class="btn bg-dark p-2 m-2 w-100 d-block m-1 text-white" href="{{ path('deleteAllCart') }}">Vider le panier</a>
                            <a type="button" class="btn bg-success p-2 m-2 w-100" href="{{ path('validateCart') }}">
                                <i class="fa fa-money"></i> Payer</a>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            {% else %}
                <p class="alert-warning">Votre panier est vide !</p>
            {% endif %}
        </div>
    </div>
{% endblock %}