{% extends 'base.html.twig' %}

        {% block title %}{{ app_name }}{% endblock %}

        {% block body %}
        <!-- Page Content -->
        <!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/slider2.jpg') }});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Gestion du stock du magasin</h2>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- ##### Breadcrumb Area End ##### -->


        <!-- ##### Login Area Start ##### -->
<div class="mag-login-area py-5 h-100">
    <!--- Style table scrollable -->
    <style>
        .table-fixed {
            width: 100%;
            background-color: #f3f3f3;
        }
        .table-fixed tbody {
            height: 50em;
            overflow-y: auto;
            width: 100%;
        }
        .table-fixed thead,
        .table-fixed tbody,
        .table-fixed tr,
        .table-fixed td,
        .table-fixed th {
            display: block;
        }
        .table-fixed tbody td {
            float: left;
        }
        .table-fixed thead tr th {
            float: left;


        }
    </style>
<div class="container h-100">
    <div class="row h-100 justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="login-content bg-white p-30 box-shadow">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Ajouter la quantité du produit</h5>
                </div>
                <div class="">
                    <ul class="text-danger">
                        <li>{{ form_errors(form) }}</li>
                    </ul>
                </div>

                <div class="col-lg-12 col-md-9 mb-4">

                    <div class="card h-25">
                        <!-- <a href="{# {{ path('showProduct', {'id' : product.id}) }} #}"> -->
                            {% set img = '8.jpg' %}
                            {% if product.produit.images|length %}
                                {% set img = product.produit.images.0 %}
                            {% endif %}
                            <img class="card-img-top" src="{{ asset('img/'~img) }}" alt="">
                        <!-- </a> -->
                        <div class="card-body">
                            <h4 class="card-title text-dark">
                                <!-- <a href="{# {{ path('showProduct', {'id' : product.id}) }} #}"> -->
                                    {{ product.produit.nom }}
                                <!-- </a> -->
                            </h4>
                            <p class="card-text">{{ product.produit.description }}</p>
                        </div>
                    </div>
                    {{ form_start(form) }}
                    <div class="form-row ml-1 mt-4">
                        <div class="form-group">
                            {{ form_label(form.quantity, 'Quantité :') }}
                            {{ form_widget(form.quantity, {'attr': {
                                'placeholder':'Saisir la quantité',
                                'class':'form-control'}}) }}
                        </div>
                        {% set nbhistory = history.dateUpdate | length %}
                        {% if nbhistory %}
                        <div class="">
                            <label>Date de la dernière mise à jour :</label>

                            <div class="form-control">{{ history.dateUpdate[nbhistory-1].getDateUpdate() }}</div>
                        </div>
                        {% endif %}
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn mag-btn mt-30" id="btn-valid-registration">Ajouter</button>
                            <a href="{{ path('addStockStore') }}" class="post-title">
                                <button type="button" class="btn mag-btn mt-30 ml-5">Retour</button>
                            </a>
                            {{ form_end(form) }}
                        </div>
                    </div>
            </div>
        </div>
        </div>
        {% if(history.dateUpdate|length) %}
        <div class="col-lg-4">
            <div>
                <table class="table table-fixed">
                    <thead>
                    <tr>
                        <th class="col-lg-3">Numéro</th>
                        <th class="col-lg-6">Date</th>
                        <th class="col-lg-3">Quantité</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% set i = 0 %}
                        {% for hdate in history.dateUpdate %}
                        <tr>
                            {% set i =i +1 %}
                            <td class="col-lg-3">{{ i }}</td>
                            <td class="col-lg-6">{{ hdate.dateUpdate }}</td>
                            <td class="col-lg-3">{{ hdate.quantityUpdate }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>
        <!-- ##### Login Area End ##### -->
{% endblock %}
