{% extends 'base.html.twig' %}

        {% block title %}{{ app_name }}{% endblock %}

        {% block body %}
        <!-- Page Content -->
        <!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/slider2.jpg') }});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Login</h2>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- ##### Breadcrumb Area End ##### -->


        <!-- ##### Login Area Start ##### -->
<div class="mag-login-area py-5 h-100">
<div class="container h-100">
    <div class="row h-100 justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="login-content bg-white p-30 box-shadow">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Créer votre nouveau mot de passe</h5>
                </div>
                {% if(error is defined) %}
                <div class="">
                    <p class="text-danger">
                        {{ error }}
                    </p>
                </div>
                {% endif %}

                {{ form_start(form) }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_widget(form.password, {'attr': {
                            'placeholder':'Mot de Passe',
                            'class':'form-control'}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_widget(form.confirm_password, {'attr': {
                            'placeholder':'Confirmer Mot de Passe',
                            'class':'form-control'}}) }}
                    </div>
                    <p><strong>* </strong>Votre mot de passe doit comporter au moins 8 caractères, dont des lettres majuscules et minuscules, un chiffre et un symbole.</p>
                </div class="form-group col-md-12">
                    <button type="submit" class="btn mag-btn mt-30" id="btn-valid-registration">Créer mot de passe</button>
                    <a href="{{ path('home') }}" class="post-title">
                        <button type="button" class="btn mag-btn mt-30">Retour</button>
                    </a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
</div>
        <!-- ##### Login Area End ##### -->
{% endblock %}
