{% extends 'base.html.twig' %}

{% block body %}

        <!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/slider5.jpg') }});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- ##### Breadcrumb Area End ##### -->

        <!-- ##### Login Area Start ##### -->
<div class="mag-login-area py-5">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="login-content bg-white p-30 box-shadow">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Renseignez le formulaire!</h5>
                </div>
                <div class="">
                    <ul class="text-danger">
                        <li>{{ form_errors(form) }}</li>
                    </ul>
                </div>
                {{ form_start(form) }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_widget(form.role, {'attr': {'class':'form-control'}}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_widget(form.nom, {'attr': {
                                'placeholder':'nom',
                                'class':'form-control'}}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_widget(form.prenom, {'attr': {
                                'placeholder':'prénom',
                                'class':'form-control'}}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_widget(form.tel, {'attr': {
                                'placeholder':'070000',
                                'class':'form-control',
                                'pattern':"[0-9]{10}",
                                'errors': "error de saisie"}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                    {{ form_widget(form.mail, {'attr': {
                        'placeholder':'Mail',
                        'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                    {{ form_widget(form.confirm_mail, {'attr': {
                        'placeholder':'confirmer mail',
                        'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.adresse, {'attr': {
                            'placeholder':'Adresse',
                            'class':'form-control',
                            'data-location-user':'location',
                            'onclick':'autocomp(this)'}}) }}
                        {{ form_widget(form.adresse_complete) }}
                        {{ form_widget(form.lat) }}
                        {{ form_widget(form.lon) }}

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_widget(form.codepostal, {'attr': {
                                'placeholder':'Code Postal',
                                'class':'form-control'}}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_widget(form.ville, {'attr': {
                                'placeholder':'Ville',
                                'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-row" id="idDetailMag">
                        <div class="form-group col-md-6">
                            {{ form_widget(form.nommagasin, {'attr': {
                                'placeholder':'Nom Magasin',
                                'class':'form-control'}}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_widget(form.tva, {'attr': {
                                'placeholder':'Numéros TVA',
                                'class':'form-control'}}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_widget(form.siret, {'attr': {
                                'placeholder':'Numéros siret',
                                'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_widget(form.password, {'attr': {
                                'placeholder':'Mot de Passe',
                                'class':'form-control'}}) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_widget(form.confirm_password, {'attr': {
                                'placeholder':'Confirmer Mot de Passe',
                                'class':'form-control'}}) }}
                        </div>
                    </div>

                    <button type="submit" class="btn mag-btn mt-30" id="btn-valid-registration">Valider</button>
                    <a href="{{ path('home') }}" class="post-title">
                        <button type="button" class="btn mag-btn mt-30">Retour</button>
                    </a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

</div>
    <script>

        document.getElementById("registration_role").addEventListener('change', showOrHidden);

        function showOrHidden(event){
            var tva = document.getElementById("registration_tva");
            var siret = document.getElementById("registration_siret");
            var nommagasin = document.getElementById("registration_nommagasin");
            if(document.getElementById("registration_role").value !== "ROLE_CLIENT"){
              tva.style.visibility = "visible";
              tva.setAttribute("type", "text");
              tva.setAttribute("required", "true");
              siret.style.visibility = "visible";
              siret.setAttribute("type", "text");
              siret.setAttribute("required", "true");
              nommagasin.style.visibility = "visible";
              nommagasin.setAttribute("type", "text");
              nommagasin.setAttribute("required", "true");

            }else{
              tva.setAttribute("type", "hidden");
              tva.setAttribute("value", " ");
              siret.setAttribute("type", "hidden");
              siret.setAttribute("value", " ");
              nommagasin.setAttribute("type", "hidden");
              nommagasin.setAttribute("value", " ");
            }
        }

        showOrHidden();

        document.getElementById("btn-valid-registration").addEventListener('click', checkPartForm);
        function checkPartForm(event){
          var lat = document.getElementById("registration_lat");
          var lon = document.getElementById("registration_lon");
          if(!lat.value)
            //alert("Veuillez saisir votre adresse et la selectionner dans la liste suggérée sous le champs de saisie.")
             //event.preventDefault();
        }
    </script>
        <!-- ##### Login Area End ##### -->
{% endblock %}
