{{ form_start(filtre_produit,{attr:{id:'filtreproduit'}}) }}
    <div class="row">{{form_row(filtre_produit.origine)}}</div>
    <div class="row">{{form_row(filtre_produit.typeProduits)}}</div>
    <div class="row">{{form_row(filtre_produit.store)}}</div>
    <div class="row">{{form_row(filtre_produit.typeVente)}}</div>
    <input type="submit" value="Filtrer">
{{ form_end(filtre_produit)}}