{{ form_start(filtre_produit) }}
    <div>{{form_row(filtre_produit.origine)}}</div>
    <div>{{form_row(filtre_produit.typeProduits)}}</div>
    <div>{{form_row(filtre_produit.typeVente)}}</div>
    <input type="submit" value="Filtrer">
{{ form_end(filtre_produit)}}