{% extends 'base.html.twig' %}

{% block title %}{{ app_name }}{% endblock %}
{% block body %}
        <!-- Page Content -->
    <div class="container">

    <div class="row">
        <div class="d-none d-lg-block d-xl-block ">
            <div class="col-lg-2 position-fixed">
                <div class="section-heading my-4">
                    <h5>Categories</h5>
                </div>
                <div class="list-group">
                    {% for typeproduit in typeproduits %}
                        <a href="{{ path('filter_category', {'category': typeproduit.libelle}) }}" class="list-group-item">{{ typeproduit.libelle }}</a>
                    {% endfor %}

                </div>
                <div class="single-sidebar-widget my-4">
                    <video src="{{ asset('img/bg-img/video1.mp4') }}" class="add-img" controls poster="{{ asset('img/bg-img/recette.png') }}">
                        Cette vidéo ne peut être affichée sur votre navigateur Internet.<br>
                        Une version est disponible en téléchargement sous <a href="URL">adresse du lien </a> .
                    </video>
                </div>
                <div class="post-meta">
                    <a href="https://instagram.com/saveurs_afrique?=nametag" class="post-title" target="_blank">Plus de détails...</a>
                </div>
                <!-- Sidebar Widget -->
                <div class="single-sidebar-widget  my-4">
                    <a href="#" class="add-img" target="_blank"><img src="{{ asset('img/bg-img/51.jpg') }}" alt=""></a>
                </div>
                <!-- Sidebar Widget -->
                <div class="single-sidebar-widget  my-4">
                    <a href="#" class="add-img" target="_blank"><img src="{{ asset('img/bg-img/72.jpg') }}" alt=""></a>
                </div>
                <!-- Sidebar Widget -->
                <div class="single-sidebar-widget  my-4">
                    <a href="#" class="add-img" target="_blank"><img src="{{ asset('img/bg-img/71.jpg') }}" alt=""></a>
                </div>
                <div class="section-heading my-4">
                    <h5>Espace Clientèle</h5>
                </div>
                <div class="list-group">
                    <a href="fruits.php" class="list-group-item">Nos engagements</a>
                    <a href="legumes.php" class="list-group-item">Avis Consommateur</a>
                    <a href="epices.php" class="list-group-item">Nos partenaires</a>
                    <a href="cosmetiques.php" class="list-group-item">Qui sommes-nous</a>
                    <a href="{{ path('contact') }}" class="list-group-item">Contact</a>
                </div>

            </div>
        </div>
        <!-- /.col-lg-3 -->


        <div class="col-lg-9 offset-lg-3">
            {% if(products is defined) %}
            <div id="carouselExampleIndicators" class="carousel slide my-4 ml-15" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="{{ asset('img/bg-img/slider1.jpg') }}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="{{ asset('img/bg-img/slider2.jpg') }}" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid"  src="{{ asset('img/bg-img/slider3.jpg') }}" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="{{ asset('img/bg-img/slider4.jpg') }}" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="{{ asset('img/bg-img/slider5.jpg') }}" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {% endif %}
            {% if(not app.user) %}
                <div class="row ml-15">
                    <div class="m-2">
                        <p><a href="{{ path('security_login') }}">Connecter-vous</a> pour plus de détail ou <a href="{{ path('security_registration') }}">Créer-vous un compte.</a></p>
                    </div>

                </div>
            {% endif %}
            {% if(products is defined and products|length and storeProducts is not defined) %}
                <div class="row ml-15">
                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 mb-4">

                            <div class="card h-100">
                                <a href="{{ path('showProductByStores', {'product_id' : product.id}) }}">
                                    {% set img = '8.jpg' %}
                                    {% if product.images|length %}
                                        {% set img = product.images.0 %}
                                    {% endif %}
                                    <img class="card-img-top" src="{{ asset('img/'~img) }}" alt="">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{{ path('showProductByStores', {'product_id' : product.id}) }}">{{ product.nom }}</a>
                                    </h4>
                                    <h6 style="color:#f5bd4c;">{{ product.typevente }}</h6>
                                    <p class="card-text">{{ product.description }}</p>
                                </div>

{#                                  <a href="{{ path('addProductCart', {'store_id': product.store.id,'product_id': product.id  }) }}"#}
{#                                     type="button" class="text-white">#}
{#                                     <div class="btn border btn-radius-1em bg-theme {% if(not app.user) %} disabled {% endif %}">#}
{#                                      <i class="fa fa-cart-plus fa-2x"></i>#}
{#                                      </div>#}
{#                                  </a>#}

                            </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if(storeProducts is defined) %}
                {% if (storeProducts|length > 0) %}
                    <div class="row ml-15">
                        <div class="section-heading mt-4 col-lg-12">
                            <div class="">
                                <h3 class="">Choisir mon magasin de course</h3>
                                <div class="">
                                    <div class="w-100 p-1">
                                        {% if msg is defined and msg|length %}
                                            <p class="text-light"><i class="fa fa-info-circle "></i> {{ msg }}</p>
                                        {% endif %}
                                    </div>
                                    {{ form_start(searchForm) }}
                                    <div class="form-group col-lg-6">

                                        {{ form_widget(searchForm.nom, {'attr': {
                                            'placeholder':'Saisir le nom d\'un magasin',
                                            'class':'form-control'}}) }}
                                    </div>
                                    <button type="submit" class="btn mt-30" id="">Rechercher</button>
                                    {{ form_end(searchForm) }}
                                </div>
                            </div>
                        </div>
                        <hr/>
                    </div>
                    <div class="row ml-15">
                        {% for storeProduct in storeProducts %}
                            <div class="col-lg-4 col-md-6 mb-4">

                                <div class="card h-100">
                                    <a href="{{ path('showProduct', { 'product_id': storeProduct.id}) }}">
                                        {% set img = 'product-icon-security-cloud.png' %}
                                        {% if storeProduct.images is defined %}
                                            {% set img = storeProduct.images.0 %}
                                        {% endif %}
                                        <img class="card-img-top" src="{{ asset('img/'~img) }}" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="{{ path('showProduct', {'product_id': storeProduct.id}) }}">
                                                {{ storeProduct.store.nommagasin }}
                                            </a>
                                        </h4>
                                        <h6  class="color-theme">{{ storeProduct.store.adresse }}</h6>
                                        <p class="card-text">{{ storeProduct.store.codepostal }} {{ storeProduct.store.ville }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% elseif (not products|length)%}
                    <div class="row">
                        <h3 class="bg-warning p-1">Aucun resultat trouvé
                            {% if(searchTerm is defined and searchTerm|length) %}
                            pour  {{ searchTerm }}
                            {% endif %}
                        </h3>
                    </div>
                {% endif %}
            {% endif %}



            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
{% endblock %}
