<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ app_name }}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style.css') }}" />
        {% endblock %}
        <link rel="icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        {% include "header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "footer.html.twig" %}
         {% block javascripts %}
        <!-- jQuery-2.2.4 js -->
        <script src="{{ asset('js/jquery/jquery-2.2.4.min.js') }}"></script>
        <!-- Popper js -->
        <script src="{{ asset('js/bootstrap/popper.min.js') }}"></script>
        <!-- Bootstrap js -->
        <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
        <!-- All Plugins js -->
        <script src="{{ asset('js/plugins/plugins.js') }}"></script>
        <!-- Active js -->
        <script src="{{ asset('js/active.js') }}"></script>
        <!-- Cookies js -->
        <script src="{{ asset('js/load.js') }}"></script>
        <!-- Show/Hide Password -->
        <script src="{{ asset('js/bootstrap-show-password.js') }}"></script>
        {% endblock %}
    </body>
</html>
