<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Navbar Area -->
    <div class="mag-main-menu" id="sticker">
        <div class="classy-nav-container breakpoint-off">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="magNav">

                <!-- Nav brand -->
                <a href="{{ path('home') }}" class="nav-brand"><img src="{{ asset('img/core-img/logo.png') }}" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Nav Content -->
                <div class="nav-content d-flex align-items-center">
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li class="active"><a href="{{ path('home') }}">Home</a></li>
                                <li><a href="{{ path('home') }}">Promotion du moment</a></li>
                            </ul>

                            <!-- Top Search Area -->
                            <div class="top-search-area">
                                <form id="formSearch" action="{{ path('search') }}" method="post">
                                    <span>
                                        <input type="search" name="top-search" {% if(searchTerm is defined) %}
                                            value="{{ searchTerm }}" {% endif %} id="topSearch" placeholder="Rechercher un produit...">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                    <span>
                                        <input type="text" name="top-map"  id="topMap" {% if(location is defined) %}
                                            value="{{ location }}"{% endif %}
                                           placeholder="Où voulez-vous être livré?" data-location="location" onclick="autocomp(this)">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <input type="hidden"  name="lat"
                                               {% if(lat is defined) %}
                                            value="{{ lat }}"{% endif %}
                                               data-lat="lat">
                                        <input type="hidden"
                                               {% if(lon is defined) %}
                                            value="{{ lon }}"{% endif %}
                                               name="lon" data-lon="lon">
                                    </span>

                                    <button type="submit" class="">
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- Nav End -->
                    </div>

                    <div class="top-meta-data d-flex align-items-center">
                        <!-- Login -->
                        <a href="{{ path('security_login') }}" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </div>
                    <div class="top-meta-data d-flex align-items-center">
                        <!-- Login -->
                        <a href="{{ path('showProductCart') }}" class="login-btn"><i class="fa fa-shopping-cart"
                                                                  aria-hidden="true"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<!-- Include Google Maps JS API -->
<!-- Autocomplete Google Place -->
        <!-- ##### Header Area End ##### -->