{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="col-md-5">
                <h1>Votre compte client</h1>
            </div>
        </div>
        {% if(form is defined) %}
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="login-content bg-white p-30 box-shadow">
                        <div class="section-heading">
                            <h5>Éditer d'un produit</h5>
                        </div>
                        {% if (error ) %}
                            <div class="p-1 border border-danger">
                                <i class="fa fa-info-circle fa-2x"></i>
                                <p class="text-danger d-inline-block">{{ error }}</p>
                            </div>
                        {% endif %}
                        <div class="">
                            <ul class="text-danger">
                                <li>{{ form_errors(form) }}</li>
                            </ul>
                        </div>

                        {{ form_start(form) }}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{ form_widget(form.produit.nom , {'attr': {
                                    'class':'form-control'}}) }}
                            </div>
                            <div class="form-group col-md-12">
                                {{ form_label(form.prix, 'Prix') }}
                                {{ form_widget(form.prix, {'attr': {
                                    'class':'form-control'}}) }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form_label(form.mesure, 'Mesure') }}
                                {{ form_widget(form.mesure, {'attr': {
                                    'class':'form-control'}}) }}
                            </div>

                            <div class="form-group col-md-6">
                                {{ form_label(form.typevente, 'Type de Vente') }}
                                {{ form_widget(form.typevente, {'attr': {
                                    'class':'form-control'}}) }}
                            </div>
                            <div class="form-group col-md-12">
                                {{ form_label(form.origine, 'Origine du produit (pays, région continentale)') }}
                                {{ form_widget(form.origine.country, {'attr': {
                                    'class':'form-control'}}) }}
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group border border-secondary rounded p-2">
                            <h4 class="text-dark">Stock du produit</h4>
                            {{ form_label(stockForm.quantity, 'Quantité :') }}
                            {{ form_widget(stockForm.quantity, {'attr': {
                                'placeholder':'Saisir la quantité',
                                'class':'form-control'}}) }}
                        </div>
                        <button type="submit" class="btn mag-btn mt-30">Valider</button>
                        <a href="{{ path('store_profil_edit_product') }}" class="post-title">
                            <button type="button" class="btn mag-btn mt-30">Retour</button>
                        </a>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}