{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="section-heading mt-4">
            <div class="col-md-12">
                <h1>Votre compte client</h1>
                <div class="col-md-8">
                    <div class="w-100 p-1">
                        {% if msg|length %}
                            <p class="text-light"><i class="fa fa-info-circle "></i> {{ msg }}</p>
                        {% endif %}
                    </div>
                    {{ form_start(searchForm) }}
                    <div class="form-group">
                        {{ form_widget(searchForm.nom, {'attr': {
                            'placeholder':'Saisissez le nom d\'un produit',
                            'class':'form-control'}}) }}
                    </div>
                    <button type="submit" class="btn mt-30" id="">Rechercher</button>
                    <a id="espace" href="{{ path('store_profil') }}"
                       type="button" class="btn alert-primary mt-30 pull-right">
                        <i class="fa fa-user"></i> Retour espace store
                    </a>
                    {{ form_end(searchForm) }}
                </div>
            </div>
        </div>
        <div class="section-padding-0-100">
            {% if(products is defined and products|length and storeProducts is not defined) %}
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 mb-4">

                            <div class="card h-100">
                                <a href="{{ path('addProductToStore', {'product_id': product.id  }) }}">
                                    {% set img = '8.jpg' %}
                                    {% if product.images|length %}
                                        {% set img = product.images.0 %}
                                    {% endif %}
                                    <img class="card-img-top" src="{{ asset('img/'~img) }}" alt="">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{{ path('addProductToStore', {'product_id': product.id  }) }}">{{ product.nom }}</a>
                                    </h4>
                                    <p class="card-text">{{ product.description }}</p>
                                </div>
                                <a href="{{ path('addProductToStore', {'product_id': product.id  }) }}"
                                   type="button" class="btn alert-primary">
                                    <i class="fa fa-plus fa-2x"></i>
                                </a>
                            </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}